#timer {
    display: flex;
}

.elapsed-time {
    display: inline-block;
    min-width: 2.8em;
    margin: 2vh 0.4vh 0 2vh;
    opacity: 0.6;
    line-height: 1;
}

.solved .elapsed-time {
    color: var(--solved-text-color);
    font-weight: bold;
}

.solved #pause-btn {
    display: none;
}
