
body {
    --vkbd-bg-fill-color: #cccccc;
    --vkbd-button-fill-color: #ffffff;
    --vkbd-button-text-color: #333333;
    --vkbd-mode-panel-fill-color: #e6e6e6;
    --vkbd-mode-text-color: #888888;
    --vkbd-active-mode-fill-color: #777777;
    --vkbd-mode-icon-fill-color: #333333;
    --vkbd-active-mode-icon-fill-color: #eeeeee;
}

.vkbd-background {
    fill: var(--vkbd-bg-fill-color);
}

.vkbd-button-bg {
    fill: var(--vkbd-button-fill-color);
}

.vkbd text,
.vkbd path {
    fill: var(--vkbd-button-text-color);
}

.vkbd-mode-panel .background {
    fill: var(--vkbd-mode-panel-fill-color);
}

.vkbd-mode-panel text {
    fill: var(--vkbd-mode-text-color);
}

.vkbd-mode-panel .button-bg {
    fill: var(--vkbd-button-fill-color);
}

.vkbd-mode-panel .active-mode-bg {
    fill: var(--vkbd-active-mode-fill-color);
    x: 310px;
    y: 55px;
    transition: all 120ms ease-in-out;
}

.vkbd-mode-panel.input-mode-outer .active-mode-bg { x: 470px; }
.vkbd-mode-panel.input-mode-inner .active-mode-bg { x: 630px; }
.vkbd-mode-panel.input-mode-color .active-mode-bg { x: 790px; }

.vkbd .mode-button-icon {
    fill: var(--vkbd-mode-icon-fill-color);
    transition: all 50ms ease-in-out;
}

.vkbd .mode-button-icon.active {
    fill: var(--vkbd-active-mode-icon-fill-color);
}

.vkbd .input-mode-color rect {
    opacity: 0.7;
}

.vkbd .input-mode-color.active rect {
    opacity: 1;
}
