
.sudoku-grid {
    text-align: center;
}

.sudoku-grid > svg {
    width: 80vw;
    height: 80vh;
    margin-top: 5vh;
}

.sudoku-grid .line {
    stroke: var(--line-color);
    stroke-width: var(--line-width);
}

.sudoku-grid .line-bold {
    stroke: var(--line-color-bold);
    stroke-width: var(--line-width-bold);
}

.cell-bg {
    fill: transparent;
}

.cell-bg.error {
    fill: var(--error-fill-color);
}

.cell-bg.selected {
    fill: var(--selected-fill-color);
}

.cell-bg.error.selected {
    fill: var(--error-selected-fill-color);
}

.cell-bg.matched {
    fill: var(--matched-fill-color);
}

.cell-bg.selected.matched {
    fill: var(--selected-matched-fill-color);
}

.solved .cell-bg {
    fill: var(--solved-fill-color);
}

.cell text.digit {
    fill: var(--digit-color);
    font-family: Arial, Helvetica, sans-serif;
}

.cell.given text.digit {
    fill: var(--given-digit-color);
    font-family: Arial, Helvetica, sans-serif;
}

text.inner-pencil,
.outer-pencil text {
    fill: var(--pencil-mark-color);
    font-family: Arial, Helvetica, sans-serif;
}

.buttons {
    text-align: center;
}

.buttons a {
    display: inline-block;
    text-decoration: none;
    font-size: 1.8rem;
    font-weight: bold;
    padding: 0.4em 0.8em;
    margin: 0.3em;
    color: var(--button-text-color);
    background-color: var(--button-bg-color);
    border-radius: 0.1em;
}
