
.sudoku-grid {
    text-align: center;
}

.sudoku-grid .line {
    stroke: var(--line-color);
    stroke-width: var(--line-width);
}

.sudoku-grid .line-bold {
    stroke: var(--line-color-bold);
    stroke-width: var(--line-width-bold);
}

.cell-bg,
.cell-bg-overlay {
    fill: transparent;
}

.cell-bg.color-code-1 { fill: var(--cell-bg-1-fill-color); }
.cell-bg.color-code-2 { fill: var(--cell-bg-2-fill-color); }
.cell-bg.color-code-3 { fill: var(--cell-bg-3-fill-color); }
.cell-bg.color-code-4 { fill: var(--cell-bg-4-fill-color); }
.cell-bg.color-code-5 { fill: var(--cell-bg-5-fill-color); }
.cell-bg.color-code-6 { fill: var(--cell-bg-6-fill-color); }
.cell-bg.color-code-7 { fill: var(--cell-bg-7-fill-color); }
.cell-bg.color-code-8 { fill: var(--cell-bg-8-fill-color); }
.cell-bg.color-code-9 { fill: var(--cell-bg-9-fill-color); }

.selected .cell-bg-overlay {
    fill: var(--selected-fill-color);
}

.matched .cell-bg-overlay {
    fill: var(--matched-fill-color);
}

.selected.matched .cell-bg-overlay {
    fill: var(--selected-matched-fill-color);
}

.error.selected .cell-bg-overlay {
    fill: var(--error-selected-fill-color);
}

.error .cell-bg-overlay {
    fill: var(--error-fill-color);
}

.cell.error text.digit {
    fill: var(--error-text-color);
}

.solved .cell-bg-overlay {
    fill: var(--solved-fill-color);
}

.cell text.digit {
    fill: var(--digit-color);
    font-family: Arial, Helvetica, sans-serif;
}

.cell.given text.digit {
    fill: var(--given-digit-color);
    font-family: Arial, Helvetica, sans-serif;
}

text.inner-pencil,
.outer-pencil text {
    fill: var(--pencil-mark-color);
    font-family: Arial, Helvetica, sans-serif;
}

.buttons {
    text-align: center;
}

.buttons a {
    display: inline-block;
    text-decoration: none;
    font-size: 1.8rem;
    font-weight: bold;
    padding: 0.4em 0.8em;
    margin: 0.3em;
    color: var(--button-text-color);
    background-color: var(--button-bg-color);
    border-radius: 0.1em;
}
