
.status-bar {
    box-sizing: border-box;
    position: fixed;
    height: 7.5vh;
    left: 0;
    top: 0;
    width: 100%;
    font-size: 3.6vh;
    padding: 0;
    color: var(--status-bar-text-color);
    background: var(--status-bar-bg);
    border-bottom: 1px solid var(--status-bar-border-color);
}

.status-bar button {
    width: 6vh;
    height: 6vh;
    position: absolute;
    background-color: transparent;
    margin: 0;
    padding: 0.5vh;
    border: none;
    border-radius: 0.2em;
    opacity: 0.6;
}

.status-bar button:hover,
.status-bar button:focus {
    background-color: var(--status-bar-button-hover-color);
    opacity: 1;
}

.status-bar button .stroke {
    fill: var(--status-bar-text-color);
}

#timer {
    position: absolute;
    left: 0;
    top: 0;
}

.menu button {
    right: 2vh;
    top: 0.8vh;
}

#fullscreen-button {
    right: 12vh;
    top: 0.8vh;
}
