:root {
    --background-color: #ffffff;
    --text-color: #333333;
    --status-bar-text-color: #777777;
    --status-bar-bg-color: #e7e7e7;
    --status-bar-border-color: #c7c7c7;
    --menu-button-hover-color: #dddddd;
    --menu-border-color: #888888;
    --menu-bg-color: #ffffff;
    --menu-hover-bg-color: #e7e7e7;
    --modal-bg-color: #ffffff;
    --modal-backdrop-color: #00000088;
    --modal-heading-underline-color: #888888;
    --modal-button-bg-color: #e0e0e0;
    --modal-button-danger-bg-color: #ff9e9e;
    --solved-text-color: #00a000;
    --line-color: #e7e7e7;
    --line-color-bold: #333333;
    --given-digit-color: #333333;
    --paused-digit-color: #00000033;
    --digit-color: #4444dd;
    --pencil-mark-color: #4444dd;
    --error-fill-color: #ff111133;
    --error-text-color: #aa0000;
    --selected-fill-color: #004fe368;
    --matched-fill-color: #659bff44;
    --selected-matched-fill-color: #8bb3ff;
    --cell-bg-1-fill-color: #ffffff;
    --cell-bg-2-fill-color: #ffa3a3;
    --cell-bg-3-fill-color: #ffc199;
    --cell-bg-4-fill-color: #ffff9a;
    --cell-bg-5-fill-color: #adffad;
    --cell-bg-6-fill-color: #f1dbff;
    --cell-bg-7-fill-color: #debba2;
    --cell-bg-8-fill-color: #ffb5da;
    --cell-bg-9-fill-color: #bdbdbd;
    --solved-fill-color: #b9ffb9;
    --error-selected-fill-color: #ff8c8c;
    --button-bg-color: #acddfb;
    --button-text-color: #333333;
    --line-width: 2;
    --line-width-bold: 5;
    --vkbd-bg-fill-color: #cccccc;
    --vkbd-button-fill-color: #ffffff;
    --vkbd-button-text-color: #333333;
    --vkbd-completed-button-text-color: #4cce4c;
    --vkbd-mode-panel-fill-color: #e6e6e6;
    --vkbd-mode-text-color: #888888;
    --vkbd-active-mode-fill-color: #777777;
    --vkbd-mode-icon-fill-color: #333333;
    --vkbd-active-mode-icon-fill-color: #eeeeee;
}

html {
    margin: 0;
    width: 100%;
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: 'Helvetica Neue', Arial, sans-serif;
    font-size: 1.2rem;
    touch-action: none;
}

#root {
    box-sizing: border-box;
    padding-top: 7.5vh;
    height: 100%;
    width: 100%;
    background-color: var(--background-color);
}

.sudoku-app {
    width: 100%;
    height: 100%;
    user-select: none;
}

.ui-elements {
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    align-items: center;
}

.portrait .ui-elements {
    flex-flow: column nowrap;
}
