:root {
    --text-color: #333333;
    --status-bar-text-color: #777777;
    --status-bar-bg-color: #e7e7e7;
    --status-bar-border-color: #c7c7c7;
    --menu-button-hover-color: #dddddd;
    --menu-border-color: #888888;
    --menu-bg-color: #ffffff;
    --menu-hover-bg-color: #e7e7e7;
    --modal-bg-color: #ffffff;
    --modal-backdrop-color: #00000088;
    --modal-heading-underline-color: #888888;
    --modal-button-bg-color: #e0e0e0;
    --modal-button-danger-bg-color: #ff9e9e;
    --solved-text-color: #00a000;
    --line-color: #e7e7e7;
    --line-color-bold: #333333;
    --given-digit-color: #333333;
    --digit-color: #4444dd;
    --pencil-mark-color: #4444dd;
    --error-fill-color: #ffbbbb;
    --selected-fill-color: #8bb3ff;
    --matched-fill-color: #cce3f7;
    --selected-matched-fill-color: #8bb3ff;
    --solved-fill-color: #b9ffb9;
    --error-selected-fill-color: #ff8c8c;
    --button-bg-color: #acddfb;
    --button-text-color: #333333;
    --line-width: 2;
    --line-width-bold: 5;
}

html {
    margin: 0;
    width: 100%;
    height: 100%;
}

body {
    margin: 0;
    width: 100%;
    height: 100%;
    font-family: 'Helvetica Neue', Arial, sans-serif;
    font-size: 1.2rem;
}

#root {
    box-sizing: border-box;
    padding-top: 7.5vh;
    height: 100%;
    width: 100%;
}

.sudoku-app {
    width: 100%;
    height: 100%;
}

.ui-elements {
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    align-items: center;
}

.portrait .ui-elements {
    flex-flow: column nowrap;
}
